*{
    box-sizing: border-box;
    
    font-family: 'Poppins', sans-serif;
}
body{
    margin:0;
    padding:0;
    color:white;
    background-color:hsl(0, 100%, 74%);
    background-image:url(images/bg-intro-desktop.png);
   
}
h1{
    font-size:3.2em;
    font-weight:600;   
}
p{
    font-size:1.2em;
    font-weight:500;
    color:rgba(255,255,255,.8);
}
.container{
    display: flex;
    width:80%;
    margin: auto;
    flex-wrap:wrap;
    margin-top:30px;
    justify-content: center;
    margin-bottom: 30px;
}
.container-left{
    width:50%;
    align-content:center;
    justify-content: center;
    margin:auto;
}
.container-right{
    width:50%;
   justify-content: center;
   text-align:center;
}
.container-right-text{
    background-color:hsl(248, 32%, 49%);
    width:90%;
    margin:0 auto;
    height:45px;
    border-radius:5px;
    margin-bottom:20px;
    cursor: pointer;
    font-weight: 500;
    border:none;
    color:hsl(246, 25%, 77%);
    font-size:1em;
    box-shadow:0px 17px 10px -10px rgba(0,0,0,.4);
    transition: all ease-in-out 300ms;
}
.container-right-text:hover{
    box-shadow: 0px 27px 20px -20px rgba(0,0,0,.4);
}
.right-text{
    color:white;
    font-weight:600;
}
form{
    background-color:white;
    max-width:90%;
    margin:0 auto;
    border:2px solid white;
    padding-top:10px;
    border-radius:10px;
    /*  */
    box-shadow:0px 0px 15px  rgba(0, 0, 0, 0.5);
}
input[type=text],
input[type=email],
input[type=password],
.container-right-but{
    background-color:transparent;
    color:black;    
    font-weight:600;
    border:1px solid rgba(0,0,0,.1);
    width:90%;
    height:45px;
    padding-left:10px;
    border-radius:5px;
    margin-bottom:15px;
    font-size:16px;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
.container-right-but:focus{
    border-color:black;
}
.container-right-but{
    cursor: pointer;
    font-weight: 500;
    background-color:hsl(154, 59%, 51%);
    border:none;
    box-shadow:10px 10px 10px #fff;
    margin-bottom:0;
    text-transform: uppercase;
    color:#fff;
}
::placeholder{
    color:black;
    font-weight: 600;
    font-size: 16px;
}
h5{
    color:hsl(246, 25%, 77%);
    font-weight:500;
}
a{
    text-decoration: none;
}
.terms{
    color:hsl(0, 100%, 74%);
    font-weight:400;
}
.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
  @media screen and (max-width:700px){
      .container-left{
          width:90%;
          padding:;
      }
      .container-right{
          width:100%;
      }
  }